@font-face {
  font-family: Coyote;
  src: url("coyote-font/Coyote-SemiBoldDEMO.otf") format("opentype");
}
html * {
  font-family: Times !important;
  font-size: 18px;
  height: 100%;
}
/* ::-webkit-scrollbar {
    display: none;
} */
.home-bg {
  background-image: url("img/backgroundLong.png");
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  background-size: cover;
}
.other-bg {
  background-image: url("img/lineless-background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: 26px !important;
}
.navbar-brand img {
  height: 65px;
  padding-left: 30px;
}
.navbar-nav li {
  padding: 0 30px;
}
.navbar-nav li a {
  float: right;
  text-align: left;
}
#nav-bar ul li a:hover {
  color: #27358B!important;
}
.navbarNav {
  background: #FEE56F;
}
.navbar-toggler {
  border: none!important;
}
.nav-link {
  color: #FB0300!important;
  font-size: 26px!important;
}

#first-section {
  padding-left: 0;
  padding-top: 0;
}
.plane-img {
  width: 110%;
}
.logo-img {
  padding-left: 150px;
  padding-right: 0;
  width: 80%;
}
.words {
  color: white;
  font-weight:bold;
  padding-left: 0;
  padding-right: 0;
  font-size: 26px;
}
.special-font {
  font-family: myriad-pro, sans-serif !important;
  color: #1B1464;
  font-weight: bolder;
  font-size: 26px!important;
}

#second-section {
  padding-left: 0;
  padding-top: 0;
}
.icon {
  width: 98%;
  height: 98%;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0;
  padding-bottom: 0;
}
.tilt {
  -webkit-transition: all 0.75s ease;
     -moz-transition: all 0.75s ease;
       -o-transition: all 0.75s ease;
      -ms-transition: all 0.75s ease;
          transition: all 0.75s ease;
}
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

#flights-section {
}
.coyote-font {
  font-family: Coyote !important;
}
.input-group {
  padding-top: 15px;
  padding-bottom: 15px;
}
.input-group-text, .form-control {
  font-family: myriad-pro, sans-serif !important;
}
.cityArt-img {
  width: 110%;
}

#output {
  padding-left: 100px;
  padding-right: 100px;
}
textarea {
  background: transparent;
  resize: none;
  border: 0 none;
  width: 100%;
  outline: none;
  height: 100%;
  font-family: myriad-pro, sans-serif !important;
}

#carousel {
  width: 100%;
  padding-right: 100px;
  padding-left: 100px;
}
#slider {
  width: 100%;
}

#blog {
  margin-top: 0px;
}
.my-4 {
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 10px;
}
.card {
  padding-left: 50px;
  padding-right: 50px;
}
.col-lg-8 {
  padding-left: 100px;
  padding-right: 100px;
}
.col-md-4 {
  margin-top: -25px;
}
