html *
{
  font-family: Times !important;
}

body
{
  height: 100%;
}
#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar-brand img
{
  height: 70px;
  padding-left: 30px;
}
.navbar-nav li
{
  padding: 0 30px;
}
.navbar-nav li a
{
  float: right;
  text-align: left;
}
#nav-bar ul li a:hover
{
  color: #27358B!important;
}
.navbarNav
{
  background: #fff;
}
.navbar-toggler
{
  border: none!important;
}
.nav-link
{
  color: #FB0300!important;
  font-weight: 500;
  font-size: 24px;
}
#splashpage
{
  padding-left: 0;
  padding-top: 0;
}
.col-6
{
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
}
.plane-img
{
  margin-left: -180px;
  padding-left: 0;
  padding-right:0;
  width: 120%;
}
.logo-img
{
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.tagline
{
  color: red;
  font-size: 18px;
}
