<!DOCTYPE html>
<html>
<head>
  <title> Trav-Log </title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href ="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
  <body class="other-bg">
    <section id="nav-bar">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FEE56F">
        <a class="navbar-brand" href="index.html"><img src="static/img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('flights')}}"><b>flights</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('hotels')}}"><b>hotel</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('tourism')}}"><b>tourism</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('journal')}}"><b>journal</b></a>
            </li>
            {% if loggedIn %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}"><b>log out</b></a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}"><b>log in</b></a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </section>

    <section id="flights-section">
    <div class="container-fluid" style="max-width: 1000px">
    <center>
      <h1 class="special-font">Book a flight to the destination of your dreams</h1>
      <br/>
      <form method="POST">
      <!--Destination input-->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="Destination">Destination:</span>
          </div>
          <input type="text" class="form-control" name="destination" placeholder="San Fransisco, CA" aria-label="Destination" value = {{request.form.destination}}>
        </div>

        <!--Departure and Arrival inputs-->
        <div class="row">
          <div class="col-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="Departure">Departure:</span>
              </div>
              <input type="date" class="form-control" name="departure" placeholder="mm/dd/yyyy" aria-label="Departure Date" value = {{request.form.departure}}>
            </div>
          </div>
          <div class="col-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="Arrival">Arrival:</span>
              </div>
              <input type="date" class="form-control" name="arrival" placeholder="mm/dd/yyyy" aria-label="Arrival Date">
            </div>
          </div>
        </div>

        <!--Number of passenger inputs-->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="Passengers">Number of Passengers:</span>
          </div>
          <input type="text" class="form-control" name="num-passenger" placeholder="Enter Number of Passengers" aria-label="passengers">
        </div>

        <button type="submit" class="btn btn-light" name="submit-button">Let's Go!</button>

        </div>
      </form>
    </center>
    </div>
    </section>

  </body>
</html>
