<!DOCTYPE html>
<html>
  <head>
    <title> Trav-Log </title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href ="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </head>
  <body class="other-bg">
    <!---NavigationBar--->
  <section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FEE56F">
      <a class="navbar-brand" href="{{url_for('home')}}"><img src="static/img/logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('flights')}}"><b>flights</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('hotels')}}"><b>hotel</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('tourism')}}"><b>tourism</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('journal')}}"><b>journal</b></a>
          </li>
          {% if loggedIn %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}"><b>log out</b></a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}"><b>log in</b></a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </section>

  <br/>
  <center><h1 class="coyote-font" style="font-size: 60px">Your Memories</h1></center>
  <br/>

  <section id="blog">
  <div class="container post">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Title -->
        <div class="card px-5">
          <h1 class="mt-4">{{title}}</h1>
          <!-- Author -->
          <p class="lead">
            by {{firstname}}
          </p>
          <hr>
          <!-- Date/Time -->
          <p>Posted on {{date}}</p>
          <hr>
          <!-- Preview Image -->
          <!-- is there a filename? (target destination?) otherwise
          in routes.py, for journal() method, might have to also return an image_name along with html
          also where is the image being saved to (static?)-->
          <img class="img-fluid rounded" src="{{filename}}">
          <hr>
          <!-- Post Content -->
          <p>{{entry}}</p>
          <hr>
        </div>

        <br/>



        <br/>
      </div>

      <!-- Sidebar Widgets Column -->

        <div class="col-md-4" style="margin-top: -25px">
          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search by Date</h5>
            <div class="card-body">
              <div class="input-group">
                <form method="POST">
                  <input type="date" name = "date" class="form-control" value={{request.form.date}}>
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Go!</button>
                </form>
                </span>
              </div>
            </div>
          </div>

        <!-- Side Widget -->
        <div class="card my-4 pb-3">
          <h5 class="card-header">Create an Entry</h5>
          <center>
          <div class="card-body" style="font-size: 18px">
            Want to record your experience from your most recent vacation?
          </div>
          <span class="input-group-btn">
          <button class="btn btn-secondary" name="submit-button" style="font-size: 18px">
              <a href="{{ url_for('entry') }}"><b>New Entry</b></a>
            </button>
          <br/>
          </span>
        </div>
      </div>
    </div>
  </div>
  </section>
  </body>
</html>
