@font-face
{
  font-family: Coyote;
  src: url("coyote-font/Coyote-SemiBoldDEMO.otf") format("opentype");
}
html *
{
  font-family: Times !important;
  font-weight: bold;
}
body
{
  height: 100%;
<<<<<<< HEAD:templates/style.css
  background-image: url("static/img/BackgroundFull.png");
=======
  background-image: url("img/backgroundLong.png");
>>>>>>> sarah:style.css
  background-size: cover;
}
#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar-brand img
{
  height: 65px;
  padding-left: 30px;
}
.navbar-nav li
{
  padding: 0 30px;
}
.navbar-nav li a
{
  float: right;
  text-align: left;
}
#nav-bar ul li a:hover
{
  color: #27358B!important;
}
.navbarNav
{
  background: #FEE56F;
}
.navbar-toggler
{
  border: none!important;
}
.nav-link
{
  color: #FB0300!important;
  font-size: 24px;
}
#first-section
{
  padding-left: 0;
  padding-top: 0;
}
.plane-img
{
  width: 120%;
}
.logo-img
{
  padding-left: 150px;
  padding-right: 0;
  width: 80%;
}
.words
{
  color: white;
  font-size: 22px;
  padding-left: 0;
  padding-right: 0;
}
.get-started
{
  width: 50%;
  height: 50%;
}
.special-font
{
  font-family: myriad-pro, sans-serif!important;
  color: #1B1464;
  font-weight:bolder;
}
#second-section
{

}
.icon
{
  width: 90%;
  height: 90%;
}
